.contactItem {
  margin-bottom: 10px;
  border: 1px black solid;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}
.deleteBtn {
  margin-left: 10px;
  color: #f8f3f3;
  background-color: rgb(108, 108, 219);
  border: 1px;
  border-radius: 4px;
  padding: 7px;
}
